In [1]:
import pandas as pd
import glob

In [2]:
# Part 1: Data Loading and Exploration
# Read all CSV files into Pandas DataFrames
csv_files = glob.glob("*.csv")

In [4]:
# creat a dict of dataframes :
dataframes = {file: pd.read_csv(file) for file in csv_files}
# Display the first few rows of each DataFrame
for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.head())

--- customers.csv ---
   customer_id first_name last_name                  email           phone  \
0            1      James     Smith  james.smith@gmail.com    555-123-4567
1            2       Mary   Johnson                    NaN    212.555.6789
2            3       John  Williams    jwilliams@yahoo.com  (555) 987-6543
3            4   Patricia     Brown     pbrown@hotmail.com      5551234567
4            5     Robert     Jones     rjones23@gmail.com    555-987-3456

        address         city       state    zip_code registration_date
0   123 Main St     New York          NY       10001        2021-03-15
1  456 Park Ave     New York          NY       10022        2020-11-02
2  789 Broadway  Los Angeles  California  90001-1234        2021-05-20
3    321 Elm St      Chicago          IL       60601               NaN
4   555 Pine St      Houston          TX       77002        2020-09-12

--- products.csv ---
   product_id        product_name     category  subcategory    brand    price  \
0           1     Apple iPhone 13  Electronics  Smartphones    Apple   899.99
1           2  Samsung Galaxy S21  electronics  Smartphones  Samsung   799.99
2           3     Sony WH-1000XM4  ELECTRONICS   Headphones     Sony   349.99
3           4         Dell XPS 13  Electronics      Laptops     Dell  1299.99
4           5    Nike Classic Tee     Clothing       Shirts     Nike    24.99

     cost  weight
0  649.99    0.45
1  539.99    0.50
2  210.00    0.60
3  899.99    2.80
4   12.50    0.20

--- inventory.csv ---
   inventory_id  store_id  product_id  quantity_in_stock last_restock_date  \
0             1         1           1                 25        2022-10-15
1             2         1           5                 42        2022-11-02
2             3         1          10                 18        2022-09-30
3             4         1          15                  5        2022-10-20
4             5         1          20                 12               NaN

   reorder_level
0           10.0
1           15.0
2            8.0
3           10.0
4           15.0

--- stores.csv ---
   store_id         store_name           address         city  state zip_code  \
0         1        City Center   123 Retail Blvd     New York     NY    10001
1         2    Mall of Chicago  456 Shopping Ave      Chicago     IL    60611
2         3  Los Angeles Plaza   789 Commerce St  Los Angeles     CA    90001
3         4   Houston Galleria       321 Main St      Houston  Texas    77002
4         5     Phoenix Outlet     654 Desert Rd      Phoenix     AZ    85001

      region  size_sqft opening_date
0  Northeast    32500.0   2005-05-20
1    Midwest    45000.0   2007-08-15
2       West    55000.0   2004-03-10
3  Southwest        NaN   2008-11-05
4  Southwest    18500.0   2010-06-30

--- sales.csv ---
   sale_id        date  store_id  customer_id  product_id  quantity    total  \
0        1  2022-01-15       3.0           12           5         2    49.98
1        2  2022-01-16       1.0            5          10         1    49.99
2        3  2022-01-18       2.0            8           3         1   349.99
3        4  2022-01-20       4.0           20           7         1   349.99
4        5  2022-01-22       5.0            3          15         1  1599.99

  payment_method
0    Credit Card
1    credit card
2     DEBIT CARD
3           Cash
4             CC

In [6]:
print(dataframes.keys())

dict_keys(['customers.csv', 'products.csv', 'inventory.csv', 'stores.csv', 'sales.csv'])

In [7]:
inventory_df = dataframes["inventory.csv"]
sales_df = dataframes["sales.csv"]
stores_df = dataframes["stores.csv"]
customers_df = dataframes["customers.csv"]
products_df = dataframes["products.csv"]

In [14]:
# 2. Exploratory Analysis
pd.options.display.float_format = '{:.2f}'.format   # this to format all numbers to 2 decimal numbers format
# Obtain summary statistics for numerical columns
for name, df in [("products", products_df),
                 ("sales", sales_df),
                 ("inventory", inventory_df)]:
    print(f"\n--- {name} ---")
    print(df.describe())

--- products ---
       product_id    price    cost  weight
count       30.00    30.00   30.00   28.00
mean        15.50   191.72  203.16    3.84
std          8.80   452.48  278.92    5.69
min          1.00 -1599.99    1.80    0.20
25%          8.25    46.99   28.38    0.50
50%         15.50   134.99   82.50    1.15
75%         22.75   322.49  236.25    3.75
max         30.00  1299.99 1100.00   25.00

--- sales ---
       sale_id  store_id  customer_id  product_id  quantity   total
count    40.00     39.00        40.00       40.00     40.00   40.00
mean     20.50      6.49        14.07       13.50      1.62  352.30
std      11.69      4.24         8.30        8.86      0.95  377.63
min       1.00      1.00         1.00        1.00      1.00   19.98
25%      10.75      3.00         6.75        5.75      1.00   99.74
50%      20.50      6.00        13.50       11.50      1.00  229.99
75%      30.25      9.50        20.25       21.25      2.00  352.49
max      40.00     15.00        29.00       30.00      5.00 1599.99

--- inventory ---
       inventory_id  store_id  product_id  quantity_in_stock  reorder_level
count         75.00     75.00       75.00              75.00          69.00
mean          38.00      8.00       12.73              22.64          12.68
std           21.79      4.35        7.18              13.92           3.33
min            1.00      1.00        1.00               0.00           8.00
25%           19.50      4.00        6.50              15.00          10.00
50%           38.00      8.00       13.00              25.00          10.00
75%           56.50     12.00       19.00              33.50          15.00
max           75.00     15.00       25.00              45.00          20.00

In [20]:
# Check for missing values in all dataframes
for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.isnull().sum())
# Display the data types of each column
for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.dtypes)

--- customers.csv ---
customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             1
registration_date    3
dtype: int64

--- products.csv ---
product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          2
dtype: int64

--- inventory.csv ---
inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        6
dtype: int64

--- stores.csv ---
store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       2
opening_date    1
dtype: int64

--- sales.csv ---
sale_id           0
date              1
store_id          1
customer_id       0
product_id        0
quantity          0
total             0
payment_method    1
dtype: int64

--- customers.csv ---
customer_id           int64
first_name           object
last_name            object
email                object
phone                object
address              object
city                 object
state                object
zip_code             object
registration_date    object
dtype: object

--- products.csv ---
product_id        int64
product_name     object
category         object
subcategory      object
brand            object
price           float64
cost            float64
weight          float64
dtype: object

--- inventory.csv ---
inventory_id           int64
store_id               int64
product_id             int64
quantity_in_stock      int64
last_restock_date     object
reorder_level        float64
dtype: object

--- stores.csv ---
store_id          int64
store_name       object
address          object
city             object
state            object
zip_code         object
region           object
size_sqft       float64
opening_date     object
dtype: object

--- sales.csv ---
sale_id             int64
date               object
store_id          float64
customer_id         int64
product_id          int64
quantity            int64
total             float64
payment_method     object
dtype: object

In [48]:
# 3. Basic Information Retrieval

# How many unique products are in the product catalog?
print(f"\n number of unique products in the product catalog : ")
print( products_df['product_id'].nunique())

# What are the top 5 most expensive products?
print(f"\n Top 5 most expensive products : ")
print( products_df.nlargest(5, "price"))
      
# Which store has the largest floor space?
print(f"\n the store with largest floor space is : ")
print( stores_df.nlargest(1, "size_sqft"))

# What is the distribution of customers by state?
# meaning how many customers do we have in each state ? 
print(f" \n customer distribution per city ")
customers_df.groupby('city')["customer_id"].count()

 number of unique products in the product catalog :
30

 Top 5 most expensive products :
    product_id        product_name        category  subcategory    brand  \
3            4         Dell XPS 13     Electronics      Laptops     Dell
0            1     Apple iPhone 13     Electronics  Smartphones    Apple
1            2  Samsung Galaxy S21     electronics  Smartphones  Samsung
19          20    Dyson V11 Vacuum  HOME & KITCHEN   Appliances    Dyson
26          27  Sony PlayStation 5     Electronics       Gaming     Sony

     price   cost  weight
3  1299.99 899.99    2.80
0   899.99 649.99    0.45
1   799.99 539.99    0.50
19  599.99 375.00    6.70
26  499.99 399.00    4.50

 the store with largest floor space is :
   store_id         store_name          address         city state zip_code  \
2         3  Los Angeles Plaza  789 Commerce St  Los Angeles    CA    90001

  region  size_sqft opening_date
2   West   55000.00   2004-03-10

 customer distribution per city

city
Albuquerque      1
Austin           1
Baltimore        2
Boston           1
Charlotte        1
Chicago          1
Columbus         1
Dallas           1
Denver           1
Detroit          1
Fort Worth       1
Houston          1
Indianapolis     1
Jacksonville     1
Kansas City      1
Las Vegas        1
Los Angeles      1
Louisville       1
Milwaukee        1
Nashville        1
New York         2
Philadelphia     1
Phoenix          1
Portland         1
San Antonio      1
San Diego        1
San Francisco    1
San Jose         1
Seattle          1
Name: customer_id, dtype: int64

In [65]:
# Part 2: Data Cleaning

# 1. Handling Missing Values

# Identify all missing values in each dataset

for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.isnull())

--- customers.csv ---
    customer_id  first_name  last_name  email  phone  address   city  state  \
0         False       False      False  False  False    False  False  False
1         False       False      False   True  False    False  False  False
2         False       False      False  False  False    False  False  False
3         False       False      False  False  False    False  False  False
4         False       False      False  False  False    False  False  False
5         False       False      False  False   True    False  False  False
6         False       False      False  False  False    False  False  False
7         False       False      False  False  False    False  False  False
8         False       False      False  False  False    False  False  False
9         False       False      False  False  False    False  False  False
10        False       False      False  False  False    False  False  False
11        False       False      False   True  False    False  False  False
12        False       False      False  False  False    False  False  False
13        False       False      False  False   True    False  False  False
14        False       False      False  False  False    False  False  False
15        False       False      False  False  False    False  False  False
16        False       False      False  False  False    False  False  False
17        False       False      False  False  False    False  False  False
18        False       False      False  False  False    False  False  False
19        False       False      False  False  False    False  False  False
20        False       False      False  False  False    False  False  False
21        False       False      False  False  False    False  False  False
22        False       False      False  False  False    False  False  False
23        False       False      False  False  False    False  False  False
24        False       False      False  False  False    False  False  False
25        False       False      False  False  False    False  False  False
26        False       False      False  False  False    False  False  False
27        False       False      False  False  False    False  False  False
28        False       False      False  False  False    False  False  False
29        False       False      False   True  False    False  False  False
30        False       False      False  False  False    False  False  False

    zip_code  registration_date
0      False              False
1      False              False
2      False              False
3      False               True
4      False              False
5      False              False
6      False              False
7      False              False
8      False              False
9      False              False
10     False              False
11      True              False
12     False              False
13     False              False
14     False              False
15     False               True
16     False              False
17     False              False
18     False              False
19     False              False
20     False              False
21     False              False
22     False              False
23     False              False
24     False               True
25     False              False
26     False              False
27     False              False
28     False              False
29     False              False
30     False              False

--- products.csv ---
    product_id  product_name  category  subcategory  brand  price   cost  \
0        False         False     False        False  False  False  False
1        False         False     False        False  False  False  False
2        False         False     False        False  False  False  False
3        False         False     False        False  False  False  False
4        False         False     False        False  False  False  False
5        False         False     False        False  False  False  False
6        False         False     False        False  False  False  False
7        False         False     False        False  False  False  False
8        False         False     False        False  False  False  False
9        False         False     False        False  False  False  False
10       False         False     False        False  False  False  False
11       False         False     False        False  False  False  False
12       False         False     False        False  False  False  False
13       False         False     False        False  False  False  False
14       False         False     False        False  False  False  False
15       False         False     False        False  False  False  False
16       False         False     False        False  False  False  False
17       False         False     False        False  False  False  False
18       False         False     False        False  False  False  False
19       False         False     False        False  False  False  False
20       False         False     False        False  False  False  False
21       False         False     False        False  False  False  False
22       False         False     False        False  False  False  False
23       False         False     False        False  False  False  False
24       False         False     False        False  False  False  False
25       False         False     False        False  False  False  False
26       False         False     False        False  False  False  False
27       False         False     False        False  False  False  False
28       False         False     False        False  False  False  False
29       False         False     False        False  False  False  False

    weight
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9    False
10   False
11   False
12   False
13   False
14   False
15   False
16   False
17   False
18   False
19   False
20   False
21    True
22   False
23   False
24   False
25   False
26   False
27   False
28   False
29   False

--- inventory.csv ---
    inventory_id  store_id  product_id  quantity_in_stock  last_restock_date  \
0          False     False       False              False              False
1          False     False       False              False              False
2          False     False       False              False              False
3          False     False       False              False              False
4          False     False       False              False               True
..           ...       ...         ...                ...                ...
70         False     False       False              False              False
71         False     False       False              False              False
72         False     False       False              False              False
73         False     False       False              False              False
74         False     False       False              False               True

    reorder_level
0           False
1           False
2           False
3           False
4           False
..            ...
70          False
71          False
72          False
73          False
74          False

[75 rows x 6 columns]

--- stores.csv ---
    store_id  store_name  address   city  state  zip_code  region  size_sqft  \
0      False       False    False  False  False     False   False      False
1      False       False    False  False  False     False   False      False
2      False       False    False  False  False     False   False      False
3      False       False    False  False  False     False   False       True
4      False       False    False  False  False     False   False      False
5      False       False    False  False  False     False   False      False
6      False       False    False  False  False     False   False      False
7      False       False    False  False  False     False   False      False
8      False       False    False  False  False     False   False      False
9      False       False    False  False  False     False   False      False
10     False       False    False  False  False     False   False      False
11     False       False    False  False  False     False   False      False
12     False       False    False  False  False     False   False      False
13     False       False    False  False  False     False   False       True
14     False       False    False  False  False     False   False      False

    opening_date
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8           True
9          False
10         False
11         False
12         False
13         False
14         False

--- sales.csv ---
    sale_id   date  store_id  customer_id  product_id  quantity  total  \
0     False  False     False        False       False     False  False
1     False  False     False        False       False     False  False
2     False  False     False        False       False     False  False
3     False  False     False        False       False     False  False
4     False  False     False        False       False     False  False
5     False  False     False        False       False     False  False
6     False  False     False        False       False     False  False
7     False  False     False        False       False     False  False
8     False  False     False        False       False     False  False
9     False  False     False        False       False     False  False
10    False  False      True        False       False     False  False
11    False  False     False        False       False     False  False
12    False  False     False        False       False     False  False
13    False  False     False        False       False     False  False
14    False  False     False        False       False     False  False
15    False  False     False        False       False     False  False
16    False  False     False        False       False     False  False
17    False  False     False        False       False     False  False
18    False  False     False        False       False     False  False
19    False  False     False        False       False     False  False
20    False  False     False        False       False     False  False
21    False  False     False        False       False     False  False
22    False  False     False        False       False     False  False
23    False  False     False        False       False     False  False
24    False  False     False        False       False     False  False
25    False  False     False        False       False     False  False
26    False  False     False        False       False     False  False
27    False  False     False        False       False     False  False
28    False  False     False        False       False     False  False
29    False  False     False        False       False     False  False
30    False   True     False        False       False     False  False
31    False  False     False        False       False     False  False
32    False  False     False        False       False     False  False
33    False  False     False        False       False     False  False
34    False  False     False        False       False     False  False
35    False  False     False        False       False     False  False
36    False  False     False        False       False     False  False
37    False  False     False        False       False     False  False
38    False  False     False        False       False     False  False
39    False  False     False        False       False     False  False

    payment_method
0            False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
32            True
33           False
34           False
35           False
36           False
37           False
38           False
39           False

In [66]:
# Create copies of original DataFrames for cleaning
dataframes_copy = {}

for file, df in dataframes.items():
    dataframes_copy[file] = df.copy()

print(f"\n list of copied data frames : ")
print(list(dataframes_copy.keys()))

 list of copied data frames :
['customers.csv', 'products.csv', 'inventory.csv', 'stores.csv', 'sales.csv']

In [70]:
# For numerical columns with missing values, replace with column mean
#this loop replaces the numeric collumns with the collomn mean 
for file, df in dataframes_copy.items():
    df.fillna(df.mean(numeric_only=True), inplace = True)
# this loop checks that the loop before it worked correctly 
for file, df in dataframes_copy.items():
    print(f"\n--- {file} ---")
    print(df.isnull().sum())

--- customers.csv ---
customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             1
registration_date    3
dtype: int64

--- products.csv ---
product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          0
dtype: int64

--- inventory.csv ---
inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        0
dtype: int64

--- stores.csv ---
store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       0
opening_date    1
dtype: int64

--- sales.csv ---
sale_id           0
date              1
store_id          0
customer_id       0
product_id        0
quantity          0
total             0
payment_method    1
dtype: int64

In [89]:
# For categorical columns with missing values, replace with most frequent value
# since none of our collumns are defined as category instead they are all objects we will have to do that manually
# after checking which collumns in which data frames can be considered as a category using df.dtype (earlier)
# the only collumn we will have to operate on are sales.csv['payment_method'] and customer.csv['zip_code']

dataframes_copy["sales.csv"]["payment_method"].fillna(dataframes["sales.csv"]["payment_method"].mode()[0], inplace=True)

dataframes_copy["customers.csv"]["zip_code"].fillna(dataframes["customers.csv"]["zip_code"].mode()[0], inplace=True)

In [90]:

# once again we check that the missing values have been correctly filled out 

for file, df in dataframes_copy.items():
    print(f"\n--- {file} ---")
    print(df.isnull().sum())

--- customers.csv ---
customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             0
registration_date    3
dtype: int64

--- products.csv ---
product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          0
dtype: int64

--- inventory.csv ---
inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        0
dtype: int64

--- stores.csv ---
store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       0
opening_date    1
dtype: int64

--- sales.csv ---
sale_id           0
date              1
store_id          0
customer_id       0
product_id        0
quantity          0
total             0
payment_method    0
dtype: int64

In [97]:
# For date columns with missing values, use forward fill or backward fill as appropriate
# for this one well identfy all date collumns then fill them we can not do a loop because its all objects
# we are doing an f fill for all of them 
dataframes_copy["customers.csv"]["registration_date"].ffill(inplace=True)
dataframes_copy["inventory.csv"]["last_restock_date"].ffill(inplace=True)
dataframes_copy["stores.csv"]["opening_date"].ffill(inplace=True)
dataframes_copy["sales.csv"]["date"].ffill(inplace=True)

/var/folders/2b/zl6_gg6n1gx3s6dp0l65mg040000gn/T/ipykernel_79919/1542793769.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframes_copy["customers.csv"]["registration_date"].ffill(inplace=True)
/var/folders/2b/zl6_gg6n1gx3s6dp0l65mg040000gn/T/ipykernel_79919/1542793769.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframes_copy["inventory.csv"]["last_restock_date"].ffill(inplace=True)
/var/folders/2b/zl6_gg6n1gx3s6dp0l65mg040000gn/T/ipykernel_79919/1542793769.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframes_copy["stores.csv"]["opening_date"].ffill(inplace=True)
/var/folders/2b/zl6_gg6n1gx3s6dp0l65mg040000gn/T/ipykernel_79919/1542793769.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframes_copy["sales.csv"]["date"].ffill(inplace=True)

In [98]:
# once again we check that the missing values have been correctly filled out 

for file, df in dataframes_copy.items():
    print(f"\n--- {file} ---")
    print(df.isnull().sum())

--- customers.csv ---
customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             0
registration_date    0
dtype: int64

--- products.csv ---
product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          0
dtype: int64

--- inventory.csv ---
inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    0
reorder_level        0
dtype: int64

--- stores.csv ---
store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       0
opening_date    0
dtype: int64

--- sales.csv ---
sale_id           0
date              0
store_id          0
customer_id       0
product_id        0
quantity          0
total             0
payment_method    0
dtype: int64

In [108]:
#2. Removing Duplicates:
# Check for and remove any duplicate entries in the customers and products dataframes
# we are identifying duplicates by counting them
print("number of duplicates in the customers dataframe is :")
print(dataframes_copy["customers.csv"].duplicated().sum())

print("\nnumber of duplicates in the products dataframe is :")
print(dataframes_copy["products.csv"].duplicated().sum())

number of duplicates in the customers dataframe is :
0

number of duplicates in the products dataframe is :
0